{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static '/css/home.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
    <div class="flexbox-container">
        <h2 style="font-size: 50px" class="flex-item">Zadanie rekrutacyjne dla STXnext</h2>
        <form action="{% url 'save_books_to_file' %}" method="post">
            {% csrf_token %}
            <label for="query">save books to database</label>
            <input name="query" class="flex-item" type="text" placeholder="Your Query">
        </form>
        <a class="flex-item" href="{% url 'list_of_books' %}">Lista wszystkich książek z funkcja filtrowania i porządkowania wg daty</a>
        <a class="flex-item" href="#">Aktualizowanie bazy danych książkami z tytułem 'War'</a>
        {% if count_books %}
            <p class="flex-item">Id książki:
            {% for id in count_books %}
                <a style="display: inline" href="{% url 'detail' id %}">{{ id }}</a>
            {% endfor %}
            </p>
        {% endif %}
    </div>
    <div class="message">
        {% include 'STXnext/messages.html' %}
    </div>
</body>
</html>